.header {
    text-align: center;
    background-color: aqua;
    height: 4rem;
    top: 0;
    left: 0;
    padding: 5px;
    position: fixed;
    width: 100%;
    animation: animateHeader 8s ease-out 1s infinite;
}
.main {
    margin-top: 5rem;
    text-align: center;
    color: aqua;
    height: 60vh;
    overflow:scroll;
    overflow-x: hidden;
}
.main h1 {
    animation: animateTitle 8s ease-in infinite;
}
.image img{
    box-shadow: 0px 5px 5px 6px bisque;
    height: 250px;
    width: 500px;
}
#likes:hover {
    cursor: pointer;
}
.image:hover {
    animation: animatePic 1s ease-in 0.1s 1;
}
.get-dog {
    background: aqua;
    height: 30px;
}
.get-dog:hover {
    cursor: pointer;
    animation: animatePic 1s ease-in 0.1s 1;
}
.red {
    color: red;
}
input {
    height: 20px;
    z-index: 10;
}
#comment-btn {
    height: 20px;
    background: aqua;
}
.comments {
    color: palevioletred;
}
.footer {
    background: black;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
}
@keyframes animatePic {
    0% {
            transform: skewY(0);
        }
    
        50% {
            transform: skewY(15deg);
        }
    
        75% {
            transform: skewY(-10deg);
        }
    
        100% {
            transform: skewY(0);
        }
}
@keyframes animateHeader {
    0% {
        background: gray;
    }

    50% {
        background: aliceblue;
    }

    75% {
        background: azure;
    }

    100% {
        background: aqua;
    }
}
@keyframes animateTitle {
    0% {
        color: purple;
    }

    50% {
        color: green;
    }

    75% {
        color:violet;
    }

    100% {
        color: aqua;
    }
}